.more-component{
    padding-top: 30px;
}

.more-wrap{
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
    justify-content: space-between;
}

.more-wrap img{
    max-width: 400px;
    min-width: 400px;
    height: 300px
}

.more-wrap div{
    max-width: 400px;
    flex: 1;
    text-align: left;
}